@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus');
*{
    /* padding: 0; */
    margin:0;
}
body{
    background-color: lightgray;
    font-family:'Gentium Book Plus', serif;
    font-style: italic;
}
#container{
    background-color:rgb(149, 222, 149);
    width: 100vw;
    height: 100vh;
    text-align:center;
}
#sect1 img{
        height:60vh;
        width: 50vw;
        margin-bottom: 6px;
}
#sect1 #titleName{
        height:50vh;
        width:30wh;
        color:rgb(23, 23, 91);
        font-size: 2.5em;
        font-weight: 200px;
    }
#sect2 #benefits{
        text-align:center;
        margin-bottom: 4px;
        color:red;
        bottom:100;
        position:relative;
        margin-top: 120px ;
}
#sect2{
    background-color:rgb(149, 222, 149);
}
#sect2 #steps{
         position:relative; 
         color:red;
       
        
}
#stepForVegetableSalad{
    position:relative; 
	display:inline-block;
    color:rgb(32, 32, 167);
	
}
#benefitsParagraph{
    color:rgb(32, 32, 167);
}
#footerText{
    background-color: rgb(149, 222, 149);
    color:red;
}
